:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}


body, html {
    background: var(--dark-blue);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#advice-container {
    background: var(--dark-grayish-blue);
    padding: 2rem;
    border-radius: 1rem;
    height: fit-content;
    width: min-content; /* wtf das muss ich mir merken, wtf wtf wtf */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#advice-text {
    color: var(--light-cyan);
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

#advice-button {
    all: unset;
    background: var(--neon-green);
    padding: 20px;
    border-radius: 50px;
    display: flex;
    position: relative;
    bottom: -55px;
    transition: box-shadow 0.1s ease-in-out;
}

#advice-button:hover {
    box-shadow: 0 0 25px rgba(150, 255, 150, 1);
    cursor: pointer;
}

svg {
    justify-content: center;
    align-items: center;
}

#advice-id {
    text-transform: uppercase;
    justify-content: start;
    align-items: start;
    color: var(--neon-green);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-family: 'Manrope', sans-serif;
}

#advice-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
    bottom: -25px;
}

#advice-divider svg {
    display: block;
}

#advice-divider-mobile svg {
    display: none;
}

#divider-desktop {
    display: block;
}

#divider-mobile {
    display: none;
}

/*Medienabfrage für Mobilgeräte*/
@media (max-width: 375px) {
    #divider-desktop {
        display: none;
    }

    #divider-mobile{
        display: block;
    }


    #advice-container {
        width: 90%;
        padding: 1.5 rem;
    }

    #advice-text {
        font-size: 20px;
    }

    #advice-button {
        bottom: -45px;
        padding: 15px;
    }
}